body {
  width: auto;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  @include font-normal(15px, 30px);
  color: #444444;
  background-color: #ffffff;

  @media #{$tablet-widths} {
    width: auto;
  }

  @media #{$desktop-widths} {
    width: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #444444;
  text-decoration: none;
}
