body {
  font-family: "Open Sans", "Arial", sans-serif;
  @include font-normal(15px, 30px);
  color: #444444;
  background-color: #ffffff;
}

a {
  color: #444444;
  text-decoration: none;
}

body > * {
  outline: 2px solid red;
  outline-offset: -2px;
}

body > * > * {
  outline: 2px solid green;
  outline-offset: -2px;
}

body > * > * > * {
  outline: 2px solid yellow;
  outline-offset: -2px;
}
