.about {
  padding-top: 27px;
  padding-bottom: 56px;
}

.about__wrapper {
  @include container;
}

.about__title {
  @include font-bold(25px, 30px);
  color: #000000;
  margin: 0;
  margin-bottom: 2px;
}

.about__list {
  @include font-bold(17px, 20px);
  margin: 0;
  padding: 0;
  color: #000000;
  list-style: none;
}

.about__item {
  position: relative;
  padding-top: 83px;
}

.about__icon {
  position: absolute;
  fill: #63d1bb;

  &--one {
    top: 27px;
    left: 9px;
  }

  &--two {
    top: 31px;
    left: 0;
  }

  &--three {
    top: 36px;
    left: 7px;
  }

  &--four {
    top: 32px;
    left: 4px;
  }

  &--five {
    top: 32px;
    left: -6px;
  }

  &--six{
    top: 32px;
    left: 2px;
  }
}

@media #{$tablet-widths} {

  .about {
    padding-top: 85px;
    padding-bottom: 0;
  }

  .about__title {
    @include font(43px, 50px);
  }

  .about__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 85px;
    padding-left: 2px;
    @include font(20px, 22px);
  }

  .about__item {
    box-sizing: border-box;
    width: 50%;
    padding-top: 110px;
    padding-right: 35px;

    &--one {
      order: 1;
      padding-top: 100px;
    }

    &--two {
      order: 3;
    }

    &--three {
      order: 5;
    }

    &--four {
      order: 2;
      padding-top: 100px;
    }

    &--five {
      order: 4;
    }

    &--six {
      order: 6;
    }
  }

}

@media #{$desktop-widths} {

  .about {
    padding-top: 62px;
    padding-bottom: 7px;
  }

  .about__wrapper {
    width: 700px;
  }

  .about__title {
    @include font(53px, 57px);
  }
}
