.btn {
  @include font-bold(17px, 20px);
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--write {
    font-size: 18px;
  }

  &--write-us {
    font-size: 18px;
  }

  &--add {
    font-size: 17px;
    line-height: 16px;
    color: #ffffff;
    background-color: #63d1bb;
  }
}
