.btn {
  @include font-bold(17px, 20px);
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid #444444;

  &--prev,
  &--next {
    width: 50%;
    height: 51px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #ececec;
    cursor: pointer;
  }

  &--prev {
    background-image: url("../../img/icon-left-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--next {
    border-left: none;
    background-image: url("../../img/icon-right-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--write {
    font-size: 18px;
  }

  &--write-us {
    font-size: 18px;
  }

  &--add {
    font-size: 17px;
    line-height: 16px;
    color: #ffffff;
    background-color: #63d1bb;
  }

  &--send {
    font-size: 17px;
    line-height: 16px;
  }

  &--make-order {
    font-size: 17px;
    line-height: 16px;
  }
}

@media #{$tablet-widths} {

  .btn {

    &--prev,
    &--next {
    border: none;
    }

    &--write {
      width: 175px;
      font-size: 17px;
    }
  }
}
