.btn {
  @include font-bold(17px, 20px);
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--prev,
  &--next {
    width: 50%;
    height: 51px;
    font-size: 0;
    border: 1px solid #ececec;
    cursor: pointer;
  }

  &--prev:hover,
  &--next:hover {
    background-color: #ffffff;
    opacity: 0.6;
  }

  &--prev:active,
  &--next:active {
    opacity: 0.3;
  }

  &--prev {
    background-image: url("../../img/icon-left-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--next {
    border-left: none;
    background-image: url("../../img/icon-right-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--write {
    font-size: 18px;
  }

  &--write-us {
    font-size: 18px;
  }

  &--add {
    @include font(17px, 16px);
    color: #ffffff;
    background-color: #63d1bb;
    border: none;
  }

  &--add:hover {
    background-color: #46c1ae;
  }

  &--send {
    @include font(17px, 16px);
    padding: 15px 0;
  }

  &--make-order {
    @include font(17px, 16px);
    padding: 15px 0;
  }

  &--size {
    @include font(17px, 16px);
    width: 82px;
    color: #444444;
    border-color: #ececec;
  }

  &--size:hover {
    color: #444444;
    background-color: #ffffff;
    border-color: #c7c7c7;
  }

  &--size:active {
    color: #444444;
    border-color: #62d1ba;
  }
}

@media #{$tablet-widths} {

  .btn {

    &--prev,
    &--next {
    border: none;
    }

    &--write {
      width: 175px;
      font-size: 17px;
    }

    &--write-us {
      width: 229px;
      font-size: 17px;
    }

    &--size {
      width: 112px;
    }
  }
}
