.contact {
  position: relative;
  padding-top: 43px;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    width: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.contact__wrapper {
  @include container;
}

.contact__title {
  @include font-bold(18px, 30px);
  color: #000000;
  margin: 0;
  margin-bottom: 26px;
}

.contact__icon {
  display: none;
}

.contact__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 29px;
}

.contact__item,
.contact__email-link {
  @include font-normal(15px, 30px);
}

.contact__email-value,
.contact__address-value {
  width: 182px;
}

.contact__email-link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #62d1ba;
  }

  &:hover {
    color: #46c1ae;
  }

  &:hover::after {
    color: #46c1ae;
    background-color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    width: 88%;
  }
}

.contact__map {
  width: 100%;
  height: 457px;
  margin: 0 auto;
  margin-top: 37px;
  margin-bottom: 40px;
}

@media #{$tablet-widths} {

  .contact {
    padding-top: 80px;
    margin-bottom: 57px;

    &::before {
      height: 17px;
    }
  }

  .contact__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .contact__title {
    @include font(43px, 50px);
    width: 100%;
    margin-bottom: 50px;
  }

  .contact__icon {
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
  }

  .contact__item {
    width: 50%;
    margin-bottom: 55px;
  }

  .contact__item,
  .contact__email-link {
    @include font-normal(17px, 30px);
  }

  .contact__email-value,
  .contact__address-value {
    width: 260px;
  }

  .contact__address-value {
    box-sizing: border-box;
    padding-right: 38px;
  }

  .contact__map {
    margin: 0;
    margin-bottom: 55px;
  }

  .contact__write-us {
    margin: 0 auto;
  }
}

@media #{$desktop-widths} {

  .contact {
    position: relative;
    padding-top: 168px;
    margin-bottom: 105px;

    &::before {
      height: 23px;
    }
  }

  .contact__wrapper {
    box-sizing: border-box;
    padding-left: 175px;
    padding-right: 525px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .contact__title {
    @include font(53px, 57px);
    margin-bottom: 48px;
  }

  .contact__icon {
    right: auto;
    top: -8px;
    left: 62px;
  }

  .contact__item {
    width: auto;
    margin: 0;
  }

  .contact__email,
  .contact__email-value {
    margin-bottom: 30px;
  }

  .contact__address,
  .contact__address-value {
    margin-bottom: 80px;
  }

  .contact__email-value,
  .contact__address-value {
    width: 274px;
  }

  .contact__map {
    position: absolute;
    top: 98px;
    left: 50%;
    width: 525px;
    height: 457px;
    margin: 0;
  }

  .contact__write-us {
    margin: 0;
  }
}
