.custom-form {
  padding-top: 21px;
  margin-bottom: 55px;
}

.custom-form__group {
  padding-bottom: 21px;

  &--tel,
  &--email,
  &--extra {
    padding-top: 12px;
  }

  &--extra {
    padding-bottom: 5px;
  }
}

.custom-form__wrapper {
  @include container;
}

.custom-form__text {
  @include font-normal(13px, 24px);
  color: #444444;
  margin: 0;
  margin-bottom: 25px;
}

.custom-form__form {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.custom-form__group-name {
  @include font-bold(17px, 16px);
  color: #63d1bb;
  text-transform: uppercase;

  &--type {
    margin-bottom: 33px;
  }

  &--color {
    margin-bottom: 37px;
  }

  &--fullname {
    margin-bottom: 28px;
  }

  &--tel,
  &--email,
  &--extra {
    margin-bottom: 18px;
  }
}

.custom-form__radio,
.custom-form__checkbox {
  display: none;
}

.custom-form__type-label,
.custom-form__color-label,
.custom-form__name-label {
  @include font-bold(17px, 18px);
  display: block;
  color: #000000;
}

.custom-form__type-label,
.custom-form__color-label {
  min-height: 40px;
}

.custom-form__type-label,
.custom-form__color-label {
  position: relative;
  padding-left: 62px;
  margin-bottom: 21px;
}

.custom-form__type-label:last-child,
.custom-form__color-label:last-child {
  margin-bottom: 0;
}

.custom-form__type-label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
  border-radius: 50%;
}

.custom-form__color-label::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
}

.custom-form__name-label {
  margin-bottom: 10px;
}

.custom-form__text-input,
.custom-form__tel-input,
.custom-form__email-input,
.custom-form__extra-input {
  font: inherit;
  @include font-normal(17px, 18px);
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 15px;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
}

.custom-form__text-input {
  margin-bottom: 22px;
}

.custom-form__text-input:last-child {
  margin-bottom: 0;
}

.custom-form__extra-input {
  box-sizing: border-box;
  padding: 18px;
  border: 2px solid #000000;
  resize: none;
}

.custom-form__note {
  @include font-normal(14px, 16px);
  color: #444444;
  margin: 0;
  margin-bottom: 33px;
}

@media #{$tablet-widths} {

  .custom-form {
    padding-top: 78px;
    margin-bottom: 50px;
  }

  .custom-form__text {
    @include font(17px, 30px);
    margin-bottom: 20px;
  }

  .custom-form__group {
    padding-top: 55px;
    padding-bottom: 48px;

    &--grey {
      background-color: #f1f1f1;
      padding-top: 65px;
    }

    &--color {
      padding-bottom: 10px;
    }

    &--fullname {
      padding-top: 65px;
      padding-bottom: 8px;
    }

    &--tel {
      padding-top: 70px;
      padding-bottom: 20px;
    }

    &--email {
      padding-top: 20px;
    }

    &--extra {
      padding-top: 70px;
      padding-bottom: 51px;
    }
  }

  .custom-form__wrapper {
    display: flex;
    flex-direction: row;

  }

  .custom-form__group-name {
    box-sizing: border-box;
    width: 167px;
    margin: 0;
  }

  .custom-form__values {
    width: 501px;

    &--color {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--fullname {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .custom-form__type-label,
  .custom-form__color-label {
    padding-left: 80px;
  }

  .custom-form__type-label,
  .custom-form__color-label,
  .custom-form__name-label {
    @include font(19px, 18px);
  }

  .custom-form__type-label {
    margin-bottom: 35px;
  }

  .custom-form__type-label::before {
    top: -18px;
    width: 48px;
    height: 48px;
  }

  .custom-form__color-label {
    box-sizing: border-box;
    width: 238px;
    margin-bottom: 36px;
  }

  .custom-form__color-label:last-child {
    margin-bottom: 35px;
  }

  .custom-form__color-label::before {
    top: -18px;
    width: 48px;
    height: 48px;
  }

  .custom-form__name-label,
  .custom-form__text-input {
    margin-bottom: 40px;
  }

  .custom-form__text-input:last-child {
    margin-bottom: 40px;
  }

  .custom-form__name-label {
    box-sizing: border-box;
    max-width: 130px;
    padding-right: 25px;
  }

  .custom-form__text-input,
  .custom-form__tel-input,
  .custom-form__email-input,
  .custom-form__extra-input {
    @include font(19px, 18px);
    padding-left: 18px;
    padding-bottom: 14px;
    margin-top: -7px;
  }

  .custom-form__tel-input,
  .custom-form__email-input,
  .custom-form__extra-input {
    background-color: inherit;
    width: 501px;
  }

  .custom-form__text-input {
    flex-grow: 1;
    width: auto;
    min-width: 370px;
  }

  .custom-form__extra-input {
    margin-top: -18px;
    padding: 16px;
  }

  .custom-form__note {
    @include font(17px, 30px);
    order: 2;
    align-self: center;
    margin: 0;
    margin-left: auto;
  }

  .custom-form__send {
    order: 1;
    width: 230px;
  }
}

@media #{$desktop-widths} {

  .custom-form {
    padding-top: 122px;
  }

  .custom-form__text {
    padding-left: 175px;
    padding-right: 175px;
  }

  .custom-form__group {

    &--fullname {
      padding-top: 63px;
    }
  }

  .custom-form__group-name {
    box-sizing: border-box;
    width: 175px;
    padding-left: 62px;

    &--fullname {
      padding-top: 2px;
    }
  }

  .custom-form__values {
    width: 700px;

    &--color {
      width: 875px;
      justify-content: flex-start;
    }

  }

  .custom-form__color-label {
    width: 263px;
  }

  .custom-form__name-label {
    width: auto;
    padding-right: 24px;
  }

  .custom-form__text-input {
    min-width: 570px;
  }

  .custom-form__tel-input,
  .custom-form__email-input,
  .custom-form__extra-input {
    width: 700px;
  }

  .custom-form__note {
    padding-right: 175px;
  }

  .custom-form__send{
    margin-left: 175px;
  }
}
