.information {
  margin-bottom: 59px;
}

.information__wrapper {
  @include container;
  box-shadow: inset 0 0 0 1px #ececec;

  &:hover {
    box-shadow: inset 0 0 0 1px #ececec,
                0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: inset 0 0 0 1px #ececec,
                0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

.information__title-icon {
  position: absolute;
  top: 30px;
  left: 34px;
  fill: #63d1bb;
}

.information__title {
  @include font-bold(17px, 24px);
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 24px;
  padding-left: 90px;
  padding-right: 34px;
  color: #000000;
}

.information__picture {
  position: relative;
}

.information__picture:hover .information__video-icon {
  transform: scale(1.2);
}

.information__picture:active .information__video-icon {
  transform: scale(0.8);
  opacity: 0.3;
}

.information__picture img {
  display: block;
}

.information__video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -51px;
  transition: transform 0.2s,
              opacity 0.3s;
}

.information__container {
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 35px;
  padding-left: 34px;
  padding-right: 34px;
}

.information__text {
  @include font-normal(13px, 24px);
  margin: 0;
  margin-bottom: 26px;
  color: #444444;
}

@media #{$tablet-widths} {

  .information {
    margin-bottom: 61px;
  }

  .information__wrapper {
    display: flex;
    flex-direction: column;
  }

  .information__title-icon {
    top: 32px;
    left: 40px;
  }

  .information__picture {
    order: 1;
  }

  .information__picture img {
    width: 668px;
    height: 455px;
  }

  .information__title {
    @include font(20px, 24px);
    order: 2;
    padding-top: 38px;
    padding-bottom: 31px;
    padding-left: 105px;
    padding-right: 44px;
    border-top: 1px solid #ececec;
  }

  .information__container {
    order: 3;
    padding-top: 0;
    padding-bottom: 48px;
    padding-right: 42px;
    padding-left: 42px;
  }

  .information__text {
    @include font(15px, 30px);
    margin-bottom: 38px;
  }
}

@media #{$desktop-widths} {

  .information {
    margin-bottom: 105px;
  }

  .information__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 455px;
    overflow: hidden;
  }

  .information__picture {
    width: 682px;
  }

  .information__picture img {
    width: 682px;
    height: 455px;
  }

  .information__video-icon {
    margin-left: -41px;
  }

  .information__title {
    width: 350px;
    padding: 0;
    padding-top: 95px;
    padding-right: 58px;
    padding-left: 74px;
    margin-bottom: 33px;
    border-top: none;
  }

  .information__title-icon {
    top: 40px;
    left: 74px;
  }

  .information__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 355px;
    padding: 0;
    padding-bottom: 62px;
    padding-right: 53px;
    padding-left: 74px;
  }

  .information__text {
    margin-bottom: 0;
  }
}
