.page-header {
  position: relative;
}

.page-header__logo {
  padding: 20px 0;
  text-align: center;
}

@media #{$tablet-widths} {

  .page-header {
    padding: 0;
    width: auto;
    margin: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50px;
  }

}

@media #{$desktop-widths} {

  .page-header__logo {
    left: 50%;
    margin-left: -43px;
  }
}
