.page-header {
  padding: 0 30px;
  margin: 0 auto;
}

.page-header__logo {
  margin: 0 auto;
  width: 86px;
}

@media #{$tablet-widths} {

  .page-header {
    padding: 0;
    width: auto;
    margin: 0;
  }

}
