.page-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  box-sizing: border-box;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 19px;
  width: 184px;
}

.page-footer__copyright-text {
  @include font-bold(19px, 18px);
  color: #000000;
}

.page-footer__copyright-link {
  font-size: 0;
  line-height: 0;
}

.page-footer__copyright-icon {
  padding-top: 3px;
  fill: #63d1bb;
}

.page-footer__copyright-icon:hover {
  fill: #46c1ae;
}

.page-footer__copyright-icon:active {
  opacity: 0.3;
}

@media #{$tablet-widths} {

  .page-footer {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 184px;
    font-size: 0;
  }

  .page-footer__logo-icon {
    fill: #231f20;
  }

  .page-footer__logo a[href]:hover .page-footer__logo-icon {
    fill: #46c1ae;
  }

  .page-footer__logo a[href]:active .page-footer__logo-icon {
    opacity: 0.3;
  }

  .page-footer__social {
    width: 300px;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    padding-right: 65px;
    border: none;
  }

  .page-footer__copyright {
    width: 184px;
    margin: 0;
    padding: 0;
  }
}

@media #{$desktop-widths} {

  .page-footer__copyright {
    align-self: baseline;
  }
}
