.reviews {
  padding-bottom: 35px;
}

.reviews__wrapper {
  @include container;
}

.reviews__title {
  @include font-bold(25px, 30px);
  margin: 0;
  margin-bottom: 23px;
  color: #000000;
}

.reviews__item {
  @include font-normal(15px, 30px);
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 27px;
}

.reviews__author-name {
  @include font-bold(18px, 24px);
  display: block;
  margin-bottom: 4px;
  color: #000000;
  font-style: normal;
}

.reviews__author-nick {
  @include font-normal(17px, 30px);
  display: block;
  margin-bottom: 28px;
  font-style: normal;
}

.reviews__toggles {
  display: flex;
  flex-direction: row;
  margin-bottom: 39px;
}

@media #{$tablet-widths} {

  .reviews {
    width: 768px;
    padding-top: 80px;
    padding-bottom: 47px;
    margin: 0 auto;
    margin-bottom: 42px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__wrapper {
    position: relative;
  }

  .reviews__title {
    @include font(43px, 50px);
    margin-bottom: 47px;
  }

  .reviews__item {
    @include font(17px, 30px);
  }

  .reviews__text {
    margin-bottom: 58px;
  }

  .reviews__author-name {
    @include font(17px, 24px);
    margin-bottom: 4px;
  }

  .reviews__toggles {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 175px;
    margin: 0;
  }

  .reviews__write {
    position: absolute;
    right: 0;
    top: 0;
  }

}

@media #{$desktop-widths} {

  .reviews {
    width: 1050px;
    margin: auto;
  }

  .reviews__wrapper {
    box-sizing: border-box;
    padding-left: 175px;
  }

  .reviews__title {
    @include font(53px, 57px);
  }
}
