.shop-descr {
  padding-top: 70px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: #f9f9f9;
  background-position: center -20px;
  background-repeat: no-repeat;
  background-size: 575px auto;
  border-top: 1px solid #ececec;

  @media #{$retina} {
    background-image: url("../img/hero-mobile@2x.jpg");

    &--grey {
      background-image: none;
    }
  }

  &--grey {
    padding-top: 70px;
    padding-bottom: 76px;
    background-color: #f1f1f1;
    background-image: none;
    background-repeat: none;
  }
}

.shop-descr__wrapper {
  @include container;
}

.shop-descr__title {
  @include font-bold(27px, 30px);
  margin: 0;
  color: #010000;
  text-align: center;

  &--index {
    margin-bottom: 122px;
  }
}

@media #{$tablet-widths} {

  .shop-descr {
    margin-top: -60px;
    padding-top: 155px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center 0;
    background-size: 1150px auto;
    border-top: 1px solid #dfdfdf;

    &--grey {
      padding-top: 95px;
      padding-bottom: 90px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center bottom;
      background-size: auto 24px;
      background-repeat: repeat-x;
    }
  }

  .shop-descr__title {
    @include font(43px, 50px);

    &--index {
      margin-bottom: 372px;
    }
  }

  .shop-descr__title br {
    display: none;
  }
}

@media #{$tablet-widths} and #{$retina-dpi},
       #{$tablet-widths} and #{$retina-dppx} {

  .shop-descr {
    background-image: url("../img/hero-desktop@2x.jpg");
    background-color: #f9f9f9;

    &--grey {
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center bottom;
      background-size: auto 24px;
      background-repeat: repeat-x;
    }
  }
}

@media #{$desktop-widths} {

  .shop-descr {
    padding-top: 152px;

    &--grey {
      padding-top: 95px;
      padding-bottom: 120px;
      background-size: auto 34px;
    }
  }

  .shop-descr__title {
    @include font(53px, 57px);
    padding: 0 218px;

    &--index {
      margin-bottom: 358px;
    }
  }

}
