.shop-section {
  @include container;
  @include clearfix();
  width: 320px;
}

.shop-section__link {
  @include font-bold(19px, 24px);
  display: block;
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 27px 150px 27px 30px;
  margin: 0 auto;
  color: #ffffff;
  text-decoration: none;
  text-align: center;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

@media #{$tablet-widths} {

  .shop-section__link {
    @include font(20px, 30px);
    width: 334px;
    padding: 32px 170px 32px 35px;
  }
}

@media #{$desktop-widths} {
  .shop-section__link {
    width: 525px;
    padding: 32px 350px 32px 40px;
  }
}
