.shop-item {
  margin-bottom: 30px;
}

.shop-item:hover .shop-item__wrapper {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.shop-item:active .shop-item__wrapper {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.shop-item__img {
  display: block;
  height: 195px;
}

.shop-item__wrapper {
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 22px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid #ededed;
}

.shop-item__title {
  @include font-bold(17px, 24px);
  display: block;
  color: #000000;
  margin: 0;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.shop-item__descr {
  @include font-normal(13px, 30px);
  color: #444444;
  margin: 0;
  margin-bottom: 18px;
}

.shop-item__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 21px;
  border-top: 1px solid #ececec;
}

.shop-item__price-value {
  @include font-bold(15px, 24px);
  color: #000000;
}

.shop-item__add-link {
  font-size: 0;
  line-height: 0;
  opacity: 0.2;
  fill: #231F20;

  &:hover {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media #{$tablet-widths} {

  .shop-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 54px;
  }

  .shop-item__img {
    width: 334px;
    height: 334px;
  }

  .shop-item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 334px;
    padding-top: 24px;
    padding-bottom: 22px;
    padding-left: 29px;
    padding-right: 29px;
    border-left: none;
  }

  .shop-item__title {
    @include font(20px, 24px);
  }

  .shop-item__descr {
    @include font(15px, 30px);
  }

  .shop-item__price {
    margin-top: auto;
    padding-left: 2px;
  }

  .shop-item__price-value {
    @include font(17px, 24px);
  }
}

@media #{$desktop-widths} {

  .shop-item {
    flex-direction: column;
    margin-bottom: 56px;
  }

  .shop-item__img {
    width: 316px;
    height: 462px;
  }

  .shop-item__wrapper {
    flex-grow: 1;
    width: 316px;
    padding-top: 24px;
    padding-bottom: 22px;
    padding-right: 30px;
    padding-left: 26px;
    border: 1px solid #ededed;
  }

  .shop-item__price {
    padding-top: 17px;
  }
}
