.shop {
  margin-top: 30px;
}

.shop__wrapper {
  @include container;
}

@media #{$tablet-widths} {
  .shop {
    margin-top: 70px;
  }
}

@media #{$desktop-widths} {

  .shop {
    margin-top: 113px;
  }

  .shop__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
