.shop-section {
  @include container;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.shop-section__link {
  @include font-bold(19px, 24px);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 28px;
  padding-right: 150px;
  padding-bottom: 28px;
  padding-left: 25px;
  color: #ffffff;
  text-decoration: none;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.shop-section__icon {
  position: absolute;

  &--interior {
    top: 23px;
    right: 36px;
    fill: #3bb09d;
  }

  &--toys {
    top: 20px;
    right: 23px;
    fill: #35a999;
  }
}

@media #{$tablet-widths} {

  .shop-section__link {
    @include font(20px, 30px);
    width: 334px;
    padding: 30px 170px 30px 35px;
  }
}

@media #{$desktop-widths} {
  .shop-section__link {
    width: 525px;
    padding: 30px 350px 30px 40px;
  }
}
